<!DOCTYPE html> 
<html> 
 
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		
	<title>Milkshake.fm - We, the DJ</title>
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
	
	<link rel="stylesheet" href="/static/scripts/joyride-1.0.2.css" type="text/css" />
	<script type="text/javascript" src="/static/scripts/jquery.joyride-1.0.2.js" charset="utf-8"></script>
	<script type="text/javascript" src="/static/scripts/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/static/scripts/jsuri-1.1.0.min.js"></script>
	<script type="text/javascript" src="/static/scripts/json2.js"></script>
	<script type="text/javascript" src="/static/scripts/client.js"></script>
	<script type="text/javascript" src="/static/scripts/admin.js"></script>
	<!-- juggernaut -->
	<script type="text/javascript" src="/static/scripts/application.js" charset="utf-8"></script>
	
	<!-- Apple -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-startup-image" sizes="640x920" href="/static/images/startup-retina.png">
	<link rel="apple-touch-startup-image" href="/static/images/startup.png">
	
	<!-- Touch icons -->
	<!-- For iPhone 4 with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/apple-touch-icon-114x114-precomposed.png">
	<!-- For first-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/apple-touch-icon-72x72-precomposed.png">
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-precomposed.png">

</head>
<body>  
 	<div id="fb-root"></div>
	<script>	
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '297440896947168', // App ID
				//channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
				status     : true, // check login status
				cookie     : true, // enable cookies to allow the server to access the session
				oauth      : true, // enable OAuth 2.0
				xfbml      : true  // parse XFBML
			});

		};
	
		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			d.getElementsByTagName('head')[0].appendChild(js);
		}(document));
	   	  
	</script>
	
	<div data-role="page" id="homePage"> 
		<div data-role="header">
			<a id="flash" href="#" data-icon="star" data-role="button" data-iconpos="notext" style="display:none;"></a>
			<div style="text-align:center;">
				<img border=0 src="/static/images/logo.png" width="190px" alt="logo" style="padding-top: 10px; padding-bottom: 3px;" />
				<div id="test">You're the DJ at this location</div>
			</div>
		</div>
		<div class="adminPanel" style="display:none;">
			<a href="javascript:void(0);" id="btnBumpGrind" data-role="button">Bump 'n Grind!</a>
		</div>
		<div data-role="content">
			<div class="content-primary">
				<ul data-role="listview" id="venuePlaylist">
				</ul>
			</div>
		</div>
		<div>
			<a href="#search" id="addSongBtn" data-role="button" data-icon="plus">Add Song</a>
		</div>
		<div>
			<button id="leaderboardBtn" name="leaderboardBtn" data-icon="grid">Leaderboard</a>
		</div>
		<div class="adminPanel" style="display:none;">
			<!-- <input type="checkbox" name="explicit" id="chkExplicit" class="custom" /> -->
			<!-- <label for="chkExplicit">Filter Explicit</label> -->
			<textarea name="txtFlash" id="txtFlash"></textarea>
			<a href="javascript:void(0);" id="btnFlash" data-role="button">Flash</a>
		</div>
		<div style="text-align: center; padding-bottom: 5px">
			<a href="mailto:team@milkshake.fm">Get in touch</a> with Milkshake.fm
		</div>
	</div>
	
	<div data-role="page" id="search">
		<div data-role="header">
			<a href="#" data-rel="back" data-icon="arrow-l" data-role="button" data-iconpos="notext"></a>
			<div style="text-align:center;">
				<a href="#homePage"><img border=0 src="/static/images/logo.png" width="190px" alt="logo" style="padding-top: 10px; padding-bottom: 3px;" /></a>
				<div>You're the DJ at this location</div>
			</div>
		</div>
		<div data-role="content">
			<label for="search-basic">Search for a song or artist:</label>
			<input type="search" name="search" id="trackSearch" value="" />
			<button id="btnSubmitSearch" name="Search">Search</button>
		</div> 
		<div>
			<ul data-role="listview" id="searchListing">
			</ul>
		</div>
	</div>
 
 	<div data-role="page" id="addTrack">
		<div data-role="header">
			<a href="#" data-rel="back" data-icon="arrow-l" data-role="button" data-iconpos="notext"></a>
			<div style="text-align:center;">
				<a href="#homePage"><img border=0 src="/static/images/logo.png" width="190px" alt="logo" style="padding-top: 10px; padding-bottom: 3px;" /></a>
				<div>You're the DJ at this location</div>
			</div>
		</div>
		<div data-role="content">
			<ul data-role="listview" id="addTrackDetails">
			</ul>
		</div>
		<button id="btnAddTrack" name="Add">Add Track</button>
 	</div>
 	
 	 <div data-role="page" id="playlistItemDetails">
		<div data-role="header">
			<a href="#" data-rel="back" data-icon="arrow-l" data-role="button" data-iconpos="notext"></a>
			<div style="text-align:center;">
				<a href="#homePage"><img border=0 src="/static/images/logo.png" width="190px" alt="logo" style="padding-top: 10px; padding-bottom: 3px;" /></a>
				<div>You're the DJ at this location</div>
			</div>
		</div>
		<div data-role="content">
			<ul data-role="listview" id="playlistItemDetailsTrackDetails">
			</ul>
		</div>
		<div id="voteBtns">
			<button id="btnUpVote" name="Thumbs Up">Vote Up</button>
			<button id="btnDownVote" name="Thumbs Down">Vote Down</button>
		</div>
		<div style="text-align: center; font-size: 14px; font-weight: bold; padding-top: 3px;" id="alreadyVoted">Thanks for voting on this song!</div>
		<div class="adminPanel" style="display: none;">
			<fieldset class="ui-grid-a">
				<div class="ui-block-a"><a href="javascript:void(0);" id="btnBump" data-role="button">Bump</a></div>
				<div class="ui-block-b"><a href="javascript:void(0);" id="btnMarkPlaying" data-role="button">Grind</a></div>	   
			</fieldset>
		</div>
 	</div>
 	
 	<div data-role="page" id="leaderboard">
 		<div data-role="header">
			<a href="#" data-rel="back" data-icon="arrow-l" data-role="button" data-iconpos="notext"></a>
			<div style="text-align:center;">
				<a href="#homePage"><img border=0 src="/static/images/logo.png" width="190px" alt="logo" style="padding-top: 10px; padding-bottom: 3px;" /></a>
				<div>You're the DJ at this location</div>
			</div>
		</div>
		<div data-role="fieldcontain">
			<select name="leaderboard-select" id="leaderboard-select" data-native-menu="false">
				<option value="0">All Time</option>
				<option value="12">Tonight</option>
				<option value="1">Last Hour</option>
			</select>
		</div>
		<div data-role="content">
			<ul data-role="listview" id="leaderboardDetails">
			</ul>
		</div>
 	</div>
 	
 	<div data-role="dialog" id="diagNotification">
 		<div data-role="header" data-theme="d">
			<h1>MS.fm</h1>
		</div>
		<div data-role="content">
			<h1 id="diagTitle"></h1>
			<p id="diagText"></p>
			<a href="#homePage" data-role="button" id="diagConfirm"><span></span></a>           
		</div>
	</div>
	
 	<div data-role="dialog" id="pleaseLogin">
 		<div data-role="header" data-theme="d">
			<h1>MS.fm</h1>
		</div>
		<div data-role="content">
			<h1>Please log in</h1>
			<p>Log in with Facebook to continue. Don't worry - we won't post to your wall or do anything weird.</p>
			<img style="cursor: pointer;" width="250px" src='/static/images/facebook_connect.png' id="btnFBLogin" />           
		</div>
	</div>
	
	<ol id="joyRideTipContent">
		<li data-id="playing_pli" data-text="Next" class="custom">
			<h4>Welcome!</h4>
			<p>This is what you're rockin to right now. Click other songs to vote on them and decide what plays next!</p>
		</li>
		<li data-id="addSongBtn" data-text="Done" data-location="top" class="custom" >
			<h4>Add your own song!</h4>
			<p>What do you want to hear? Rally your friends to vote it to the top!</p>
		</li>
	</ol>

</body>
</html>