<!DOCTYPE html> 
<html> 
 
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<title>Milkshake.fm - We, the DJ</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='scripts/jquery.mobile-1.0b2.css') }}" type="text/css" /> 
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-1.6.2.js') }}"></script> 
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.mobile-1.0b2.js') }}"></script>
	<script type="text/javascript" src="/static/scripts/jsuri-1.1.0.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/client.js') }}"></script>
	<link rel="stylesheet" href="/static/css/client.css">
	
	<!-- Zen Player -->
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/zen/jquery.rotate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/zen/jquery.grab.js') }}"></script> 
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/zen/jquery.jplayer.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/zen/zen.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/zen.css') }}">

	<!-- Apple -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-startup-image" sizes="640x920" href="{{ url_for('static', filename='images/startup-retina.png') }}">
	<link rel="apple-touch-startup-image" href="{{ url_for('static', filename='images/startup.png') }}">
	
	<!-- Touch icons -->
	<!-- For iPhone 4 with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114-precomposed.png') }}">
	<!-- For first-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72-precomposed.png') }}">
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/apple-touch-icon-precomposed.png') }}">
  
</head>
<body>  
 	<div id="fb-root"></div>
	<script>	
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '297440896947168', // App ID
				//channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
				status     : true, // check login status
				cookie     : true, // enable cookies to allow the server to access the session
				oauth      : true, // enable OAuth 2.0
				xfbml      : true  // parse XFBML
			});
			
			$('#btnFBLogin').click(function(){
				FB.login()
			});
			
			FB.Event.subscribe('auth.statusChange', msfm.FBAuthChange);
		};
	
		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			d.getElementsByTagName('head')[0].appendChild(js);
		}(document));
	   	  
	</script>
	<div data-role="page" id="homePage"> 
		<div data-role="header" class="header"></div>
		<div data-role="content">
			<div class="content-primary">
				<ul data-role="listview" id="venuePlaylist">
				</ul>
			</div>
		</div>
		<div>
			<a href="#search" data-role="button">Add Song</a>
		</div>
	</div>
	
	<div data-role="page" id="login">
		<div data-role="header" class="header"></div>
		<div id="FBLogin">
			<a href="javascript:void(0);" id="btnFBLogin" data-role="button" data-icon="msfm-facebook">Log In with Facebook</a>
		</div>
		<input type="hidden" name="fbid" id="fbid" />
	</div>
	
	<div data-role="page" id="search">
		<div data-role="header" class="header"></div>
		<div data-role="content">
			<label for="search-basic">Search for a song:</label>
			<input type="search" name="search" id="trackSearch" value="" />
			<button id="btnSubmitSearch" name="Search">Search</button>
		</div> 
		<div>
			<ul data-role="listview" id="searchListing">
			</ul>
		</div>
	</div>
 
 	<div data-role="page" id="addTrack">
 		<div data-role="header" class="header"></div>
		<div data-role="content">
			<ul data-role="listview" id="addTrackDetails">
			</ul>
		</div>
		<div style="margin-top: 10px; width: 100%; text-align:center; display: none;">
			<div id="zen">
				<span class="player"></span>
				<span class="circle"></span>
				<span class="progress"></span>
				<span class="buffer"></span>
				<span class="drag"></span>
				<div class="button">
					<span class="icon play"></span>
					<span class="icon pause"></span>
				</div>
			</div>
		</div>
		<button id="btnAddTrack" name="Add">Add Track</button>
		<a id="lnkAddTrackDialog" href="#confirmAdd" data-rel="dialog" data-role="button" style="display: none;"></a>
 	</div>
 	
 	<div data-role="page" id="confirmAdd">
 		<div data-role="header">
			<h1>Milkshake.fm</h1>
		</div>
		<div data-role="content">
			<h1>Song added!</h1>
			<p>You've added the track to the location</p>
			<a href="#homePage" data-role="button">Ok!</a>           
		</div>
	</div>
	
 	<div data-role="page" id="confirmVote">
 		<div data-role="header">
			<h1>Milkshake.fm</h1>
		</div>
		<div data-role="content">
			<h1>Voted!</h1>
			<p>Thanks!</p>
			<a href="#homePage" data-role="button">Ok!</a>           
		</div>
	</div>
 	
 	<div data-role="page" id="playlistItemDetails">
 		<div data-role="header" class="header"></div>
		<div data-role="content">
			<ul data-role="listview" id="playlistItemDetailsTrackDetails">
			</ul>
		</div>
		<button id="btnUpVote" name="Thumbs Up">Thumbs Up</button>
		<button id="btnDownVote" name="Thumbs Down">Thumbs Down</button>
		<a href="#confirmVote" id="lnkConfirmVote" data-rel="dialog" data-role="button" style="display: none;"></a>
 	</div>
 	
</body>
</html>